.wrapper {
  width: 700px;
  height: 960px auto;
  margin: 0 auto;
  background-color: #b5afff;
  border: 2px solid;
}

#logotxt {
  text-align: center;
}

.logo {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: auto;
}

.mainblock {
  background-color: rgb(207, 163, 228);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 270px;
}

.slider {
  background-color: rgb(207, 163, 228);
  display: flex;
  align-items: center;
  height: 140px;
}

.mainbt {
  width: 30px;
  height: 300px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(207, 163, 228);
  border: none;
}

#mainphotos {
  height: 240px;
  background-color: rgb(207, 163, 228);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: start;
}

.block1 {
  background-color: rgb(207, 163, 228);
  height: 510px;
}

#mainphotos img {
  transition-duration: 0.5s;
  width: 620px;
  height: 300px;
  padding: 0 5px 0 5px;
}

.big {
  width: 60%;
  height: auto;
  display: block;
  margin: 10px;
}

.smal {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smalImg {
  background-color: #F0F8FF;
  text-align: center;
  color: #31043E;
  border: 2px solid;
  z-index: 1;
  display: flex;
}

.smalImg #znak, #texty {
  transform: translateX(-8%) }

.smalImg img {
  z-index: 2;
  width: 60px;
  height: 60px;
  transform: translateX(-50%) translateY(-30%);}

  #but {
    width: 10px;
    height: 15px;
    border-radius: 100%;
  }

  .small{
    display: block;
    text-align: center;
  color: #000;
  }